#set($input = $ctx.args.input)

{
  "version": "2018-05-29",
  "operation": "PutItem",
  "key": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId())
  },
  "attributeValues": {
    "id": $util.dynamodb.toDynamoDBJson($util.autoId()),
    "modelId": $util.dynamodb.toDynamoDBJson($input.modelId),
    "modelUrl": $util.dynamodb.toDynamoDBJson($input.modelUrl),
    "name": $util.dynamodb.toDynamoDBJson($input.name),
    "email": $util.dynamodb.toDynamoDBJson($input.email),
    "phone": $util.dynamodb.toDynamoDBJson($input.phone),
    "commpany": $util.dynamodb.toDynamoDBJson($input.commpany),
    "description": $util.dynamodb.toDynamoDBJson($input.description)
  }
}
