{
  "id": $util.toJson($ctx.result.id),
  "modelId": $util.toJson($ctx.result.modelId),
  "modelUrl": $util.toJson($ctx.result.modelUrl),
  "name": $util.toJson($ctx.result.name),
  "email": $util.toJson($ctx.result.email),
  "phone": $util.toJson($ctx.result.phone),
  "commpany": $util.toJson($ctx.result.commpany),
  "description": $util.toJson($ctx.result.description)
}
